@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642139903712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuijianqiche:before {
  content: "\e8cd";
}

.icon-huoche:before {
  content: "\eb36";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-icon-test:before {
  content: "\e6f6";
}

